body {
    background: url(/image/5.gif);
    background-size: 100%;
    background-repeat: repeat;
    position: relative;
    top: 100px;
}

.navbar {
    top: -100px;
}

.rounded { 
    width: 200px;
}

.text {
    color: white;
}

.card-group {
    margin: auto;
}

.progress {
    margin: auto;
    width: 70%;
}

